# Database Access Variable
# Click connect and get the Session pooler variable for Database URL
# To get SUPABASE_KEY click on project settings, click on API Keys and copy secret key
# On project overview under project name click copy and get project URL
DATABASE_URL =
SUPABASE_KEY =
SUPABASE_URL = 